.anymind-widget {
  padding: 16px 0 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.anymind-widget p {
  margin: 0;
}

.anymind-widget p a {
  color: #8A3DFF;
  text-decoration: none;
}

input[type="text"] {
  background: #fff;
  padding: 16px;
  border: 1px dashed rgba(44, 47, 52, 0.35);
  height: 56px;
  border-radius: 8px;
}

input[type="submit"] {
  background: #8A3DFF;
  padding: 16px 48px;
  height: 56px;
  border-radius: 56px;
  color: #fff;
  margin: 0 0 0 16px;
}

.anymind-widget-form h2 span {
  font-weight: 400;
  font-size: 16px;
  margin: 8px 0 0 0;
  display: block;
}
